<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	       http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 单点登录权限RPC服务 -->
	<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
	<bean name="/authenticationRpcService" class="org.springframework.remoting.caucho.HessianServiceExporter">
		<property name="service" ref="authenticationRpcService" />
		<property name="serviceInterface" value="com.smart.sso.rpc.AuthenticationRpcService" />
	</bean>
</beans>